.boilerPlate {
    width: 100% !important;
    height: 25% !important;
    background-color: #ececec !important;
    background-color: var(--main-grey-dark1) !important;
    padding: 1px 5px;
    border-radius: 2px;
    border: 1px solid #c8c8c8 !important; 
    font-family: var(--main-font);
    font-weight: normal;
    text-align: left;
    color: var(--main-white)!important;
}
.boilerPlate:hover {
    background-color: lightgrey !important;
    background-color: var(--main-orange) !important;
    color: var(--main-white)!important;
}
.boilerPlate.e-disable {
    background-color: lightgrey !important;
    background-color: var(--main-grey-dark1) !important;
    color: var(--main-grey)!important;
}
.boilerPlate:not(.e-disable):active {
    background-color: var(--main-orange) !important;
    color: var(--main-white)!important;
}